#!/bin/sh

WATCHDIR='./queue'
POUDRIERE_DATA='/pdr/data/'

exec 2>&1
mkdir -p ${POUDRIERE_DATA}/logs/daemon
while :; do
        next=$(find ${WATCHDIR} -type f -depth 1 -print -quit 2>/dev/null)
        if [ -z "${next}" ]; then
                exec /usr/local/libexec/poudriere/dirwatch ${WATCHDIR}
                if [ $? -ne 0 ]; then
                        echo "$(date '+%Y-%m-%d %H:%M:%S') dirwatch terminated unsuccessfully"
                fi
                continue
        fi
        echo
        echo
        echo "======================="
        echo "Launching job `basename ${next}`"
        echo "======================="
        echo
        echo
        cat ${next} | while read line; do
                echo
                echo "Running poudriere ${line}"
                echo
                poudriere ${line}
        done | tee ${POUDRIERE_DATA}/logs/daemon/${next##*/}.log
        rm -f ${next}
done
